<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-android-screens"
        version="1.2"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Android Supports Screens</name>
  <author>Maximilian Carl</author>
  <description>
    Cordova Plugin to select screen sizes to be supported by your application.
  </description>
  <keywords>
    cordova, android, app, screen, screen-size, supports-screen
  </keywords>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <supports-screens
        android:normalScreens="false"/> 

      <!-- Possible Values:
                android:resizeable=["true"| "false"]
                android:smallScreens=["true" | "false"]
                android:normalScreens=["true" | "false"]
                android:largeScreens=["true" | "false"]
                android:xlargeScreens=["true" | "false"]
                android:anyDensity=["true" | "false"]
                android:requiresSmallestWidthDp="integer"
                android:compatibleWidthLimitDp="integer"
                android:largestWidthLimitDp="integer" 
        See http://developer.android.com/guide/topics/manifest/supports-screens-element.html for more information -->
    </config-file>
  </platform>
</plugin>
